<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="styles/ihover.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/groupe6/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="/assets/images/groupe6/FaviconSW.ico" rel="icon" type="image/x-icon" />
    <title>Tatooine's Guardians</title>
  </head>




  <body>
        

    <!-- ******************************************************DEBUT Partie NAV > ne pas toucher -->

    <div class="container-fluid" style="padding:0px;">
        {% include "Article/navbar.html.twig" %}
    </div>


    <!-- *****************************************FIN de la Partie NAV > ne pas toucher -->


  <!-- **************************************   DEBUT INTRODUCTION  *************************************************  -->

    <div class="container-fluid passerIntro"> 
    	<a href="#ancre" class="btn btn-outline-info">Skip intro</a>
    </div> 

    <div class="star-wars-intro">

    <!-- Blue Intro Text -->
        <p class="intro-text">
        A few days ago ...
        </p>

    <!-- All Scrolling Content Goes in here -->
        <div class="main-content">

            <div class="title-content">
                    <p class="text-center content-header"> Tatooine's Guardians Present </p>

                <br>

                <p class="content-body">
                After days of really (really !) hard work at the Wild School, the guardians are landing back on Tatooine</p>
                <br><br>
                <!-- button or link or whatever -->
                <a href="#ancre" class="space-button">Check out our faces</a>
            </div>
        </div>
    </div>
                

<!-- *******************************  FIN INTRODUCTION  *****************************************************  -->


<!-- ********************************** DEBUT partie Portfolio *********************************************** -->

    <div class="container-fluid test d-flex flex-column align-items-center" id="mainbg">
        <div class="container invisible" id="ancre"></div>
        <div class="container titreGroupe">
            <p class="h1 text-center"><span class="logoSWtitle">S</span> Tatooine's Gardians <span class="logoSWtitle"> S</span></p>
        </div>
        <div class="container d-flex justify-content-center bla">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-12 justify-content-center cardimg d-block">
                    <div class="cf rounded-circle">
                        <div class="buffer rounded-circle">
                            <img class="img-fluid bottom rounded-circle" src="http://image.noelshack.com/fichiers/2018/38/3/1537368173-roman.jpeg" alt="Tête de Roman">
                            <img class="img-fluid top rounded-circle" src="http://image.noelshack.com/fichiers/2018/38/3/1537368863-roman-bb8.png" alt="image" data-toggle="modal" data-target="#roman" />
                        </div>
                    </div>
                    <div class="d-block text-center nomVign"><p>Roman, 33 ans, Lyon</p><hr class="style14"></div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 justify-content-center cardimg d-block">
                    <div class="cf rounded-circle">
                        <div class="buffer rounded-circle">
                            <img class="img-fluid bottom rounded-circle" src="http://image.noelshack.com/fichiers/2018/38/3/1537368173-nadim.jpeg" alt="Tête de Nadim">
                            <img class="img-fluid top rounded-circle" src="http://image.noelshack.com/fichiers/2018/38/3/1537368863-nadim-boba-fett.png" alt="image" data-toggle="modal" data-target="#nadim" />
                        </div>
                    </div>
                    <div class="d-block text-center nomVign"><p>Nadim, 36 ans, Lyon</p><hr class="style14"></div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 justify-content-center cardimg d-block">
                    <div class="cf rounded-circle">
                        <div class="buffer rounded-circle">
                            <img class="img-fluid bottom rounded-circle" src="http://image.noelshack.com/fichiers/2018/38/3/1537369446-loic-1.jpg" alt="Tête de Loic">
                            <img class="img-fluid top rounded-circle" src="http://image.noelshack.com/fichiers/2018/38/3/1537368863-loic-darth-vader.png" alt="image" data-toggle="modal" data-target="#loic" />
                        </div>
                    </div>
                    <div class="d-block text-center nomVign"><p>Loic, 35 ans, Lyon</p><hr class="style14"></div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 justify-content-center cardimg d-block">
                    <div class="cf rounded-circle">
                        <div class="buffer rounded-circle">
                            <img class="img-fluid bottom rounded-circle" src="http://image.noelshack.com/fichiers/2018/38/3/1537368173-fred.jpg" alt="Tête de Frederic">
                            <img class="img-fluid top rounded-circle" src="http://image.noelshack.com/fichiers/2018/38/3/1537368863-fred-the-emperor.png" alt="image" data-toggle="modal" data-target="#fred" />
                        </div>
                    </div>
                    <div class="d-block text-center nomVign"><p>Fred, 18 ans, Lyon</p><hr class="style14"></div>
                </div>            
                <div class="col-lg-4 col-md-6 col-sm-12 justify-content-center cardimg d-block">
                    <div class="cf rounded-circle">
                        <div class="buffer rounded-circle">
                            <img class="img-fluid bottom rounded-circle" src="http://image.noelshack.com/fichiers/2018/38/3/1537368173-mathieu.jpeg" alt="Tête de Matthieu">
                            <img class="img-fluid top rounded-circle" src="http://image.noelshack.com/fichiers/2018/38/3/1537368863-mathieu-chewbacca.png" alt="image" data-toggle="modal" data-target="#matthieu" />
                        </div>
                    </div>
                    <div class="d-block text-center nomVign"><p>Mathieu, 38 ans, Lyon</p><hr class="style14"></div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 justify-content-center cardimg d-block">
                    <div class="cf rounded-circle">
                        <div class="buffer rounded-circle">
                            <img class="img-fluid bottom rounded-circle" src="http://image.noelshack.com/fichiers/2018/38/3/1537368173-franck.jpeg" alt="Tête de Franck">
                            <img class="img-fluid top rounded-circle" src="http://image.noelshack.com/fichiers/2018/38/3/1537368863-franck-yoda.png" alt="image" data-toggle="modal" data-target="#franck" />
                        </div>
                    </div>
                    <div class="d-block text-center nomVign"><p>Franck, 37 ans, Lyon</p><hr class="style14"></div>
                </div>      
            </div>
        </div>
    </div>

    <!-- ********************************** FIN partie Portfolio *********************************************** -->

    <!-- ***********************************  DEBUT MODALES  *************************************************** -->

    <!-- MODALE ROMAN    -->

    <div class="container">
        <div class="modal fade" id="roman" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered blabla no-gutters" role="document">
                <div class="modal-content">
        
                    <div class="container modal-header">
                    <p class="h3 modal-title text-center exampleModalCenterTitle">Roman Kucinski</p>
                    </div>
                    <hr>
                    <div class="modal-body">
                        <div class="container">
                            <p class="h4"><span class="logoSW">z</span> Profile <span class="logoSW">z</span><p>
                            <a href="https://www.linkedin.com/in/roman-kucinski-270b10bb/" target="_blank"><i class="fa fa-linkedin-square fa-3x linkedin"></i></a>
                            <a href="https://github.com/RKucinski" target="_blank"> <i class="fa fa-github github fa-3x" ></i></a>
                            <a href="https://twitter.com/RomanKucinski" target="_blank"><i class="fa fa-twitter twitter fa-3x"></i></a>
                            <p class="h5 text">Développeur Front End Web et Mobile - Certifié RNCP</p>
                            <div class="test1">
                                <span class="badge badge-pill tagHtml">Html5</span>
                                <span class="badge badge-pill tagCss">Css3</span>
                                <span class="badge badge-pill tagJS">JavaScript</span>
                                <span class="badge badge-pill tagReact">ReactJS</span>
                                <span class="badge badge-pill tagBootstrap">Bootstrap</span>
                                <span class="badge badge-pill tagNode">NodeJS</span>
                            </div>
                        </div>
        
                        <hr>
                        
                        <div class="container">
                            <p class="h4"><span class="logoSW">f</span> Hobbies <span class="logoSW">f</span><p>
                            <ul class="listPerso">
                                <li>Lecture - </li>
                                <li>Ecriture - </li>
                                <li>Dessin - </li>
                                <li>Jeu de rôle - </li>
                                <li>Jeux vidéos - </li>
                                <li>Cuisine</li>
                            </ul>
                        </div>
                    
                        <hr>
        
                        <div class="container">
                            <p class="h4"><span class="logoSW">D</span> Experiences <span class="logoSW">D</span><p>    
                            <p>Wild Code School Lyon - Formation développeur Front-End 09/2018 - 02/2019<br>
                                AXA Assistance France Assurances - Expert en Gestion 08/2009 - 08/2018<br></p>
                        </div>
                    </div>
                    
                    <div class="modal-footer">
                            <button type="button" class="btn btn-secondary close" data-dismiss="modal">Close <span class="logoSWbutton">_</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MODALE NADIM    -->
    
    <div class="container">
        <div class="modal fade" id="nadim" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered blabla no-gutters" role="document">
                <div class="modal-content">
        
                    <div class="container modal-header">
                    <p class="h3 modal-title text-center exampleModalCenterTitle">Nadim Mabrouk</p>
                    </div>
                    <hr>
                    <div class="modal-body">
                        <div class="container">
                            <p class="h4"><span class="logoSW">z</span> Profile <span class="logoSW">z</span><p>
                            <a href="https://www.linkedin.com/in/nadim-mabrouk-639995169/" target="_blank"><i class="fa fa-linkedin-square linkedin fa-3x"></i></a>
                            <a href="https://github.com/nadim69" target="_blank"> <i class="fa fa-github github fa-3x"></i></a>
                            <a href="https://twitter.com/mabrouk_nadim?lang=fr" target="_blank"><i class="fa fa-twitter twitter fa-3x"></i></a>
                            <p class="h5 text">Développeur Front End Web et Mobile - Certifié RNCP</p>
                            <div class="test1">
                                <span class="badge badge-pill tagHtml">Html5</span>
                                <span class="badge badge-pill tagCss">Css3</span>
                                <span class="badge badge-pill tagJS">JavaScript</span>
                                <span class="badge badge-pill tagReact">ReactJS</span>
                                <span class="badge badge-pill tagBootstrap">Bootstrap</span>
                                <span class="badge badge-pill tagNode">NodeJS</span>
                            </div>
                        </div>
        
                        <hr>
                        
                        <div class="container">
                            <p class="h4"><span class="logoSW">f</span> Hobbies <span class="logoSW">f</span><p>
                            <ul class="listPerso">
                                <li>Trip - </li>
                                <li>Football - </li>
                                <li>Cinema</li>
                            </ul>
                        </div>
                    
                        <hr>
        
                        <div class="container">
                            <p class="h4"><span class="logoSW">D</span> Experiences <span class="logoSW">D</span><p>    
                            <p>Wild Code School Lyon - Formation développeur Front-End 09/2018 - 02/2019<br>
                                Auchan St Genis Laval - Gestionnaire 03/2013<br>
                                Club Med Serre Chevallier - Cost controller 09/2011 - 07/2012</p>
                        </div>
                    </div>
                    
                    <div class="modal-footer">
                            <button type="button" class="btn btn-secondary close" data-dismiss="modal">Close <span class="logoSWbutton">_</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!-- MODALE LOIC    -->
    
    <div class="container">
        <div class="modal fade" id="loic" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered blabla no-gutters" role="document">
                <div class="modal-content">
        
                    <div class="container modal-header">
                    <p class="h3 modal-title text-center exampleModalCenterTitle">Loic Marchand</p>
                    </div>
                    <hr>
                    <div class="modal-body">
                        <div class="container">
                            <p class="h4"><span class="logoSW">z</span> Profile <span class="logoSW">z</span><p>
                            <a href="https://www.linkedin.com/in/lo%C3%AFc-marchand-45098a170/" target="_blank"><i class="fa fa-linkedin-square linkedin fa-3x"></i></a>
                            <a href="https://github.com/nilpa018" target="_blank"> <i class="fa fa-github github fa-3x"></i></a>
                            <a href="https://twitter.com/nilpa018" target="_blank"><i class="fa fa-twitter twitter fa-3x"></i></a>
                            <p class="h5 text">Développeur Web et Mobile JavaScript</p>
                            <div class="test1">
                                <span class="badge badge-pill tagHtml">Html5</span>
                                <span class="badge badge-pill tagCss">Css3</span>
                                <span class="badge badge-pill tagJS">JavaScript</span>
                                <span class="badge badge-pill tagReact">ReactJS</span>
                                <span class="badge badge-pill tagBootstrap">Bootstrap</span>
                                <span class="badge badge-pill tagNode">NodeJS</span>
                                <span class="badge badge-pill tagPHP">PHP</span>
                                <span class="badge badge-pill tagSQL">SQL</span>
                            </div>
                        </div>
        
                        <hr>
                        
                        <div class="container">
                            <p class="h4"><span class="logoSW">f</span> Hobbies <span class="logoSW">f</span><p>
                            <ul class="listPerso">
                                <li>Apéro - </li>
                                <li>Voyages - </li>
                                <li>Cinéma - </li>
                                <li>Jeux vidéos</li>
                            </ul>
                        </div>
                    
                        <hr>
        
                        <div class="container">
						 <p class="h4"><span class="logoSW">D</span> Experiences <span class="logoSW">D</span><p> 
						 <p> Wild Code School Lyon - Formation développeur Front-End 09/2018 - 02/2019<br>
							Aggreko France - Technicien - 2007 - 2018<br> 
							Admin secondaire d'un Site francophone de sécurité informatique (Pendant 2 ans)<br>
							Co-Fondateur du portail interactif "Aciers En Ligne" (En cours)</p>
						</div>
                    </div>
                    
                    <div class="modal-footer">
                            <button type="button" class="btn btn-secondary close" data-dismiss="modal">Close <span class="logoSWbutton">_</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>


        <!-- MODALE FRED    -->
    
    <div class="container">
        <div class="modal fade" id="fred" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered blabla no-gutters" role="document">
                <div class="modal-content">
        
                    <div class="container modal-header">
                    <p class="h3 modal-title text-center exampleModalCenterTitle">Leknaat Silverberg</p>
                    </div>
                    <hr>
                    <div class="modal-body">
                        <div class="container">
                            <p class="h4"><span class="logoSW">z</span> Profile <span class="logoSW">z</span><p>
                            <a href="https://fr.linkedin.com/" target="_blank"><i class="fa fa-linkedin-square linkedin fa-3x"></i></a>
                            <a href="https://github.com/" target="_blank"> <i class="fa fa-github github fa-3x"></i></a>
                            <a href="https://twitter.com/?lang=fr" target="_blank"><i class="fa fa-twitter twitter fa-3x"></i></a>
                            <p class="h5 text">Développeur Front End Web et Mobile - Certifié RNCP</p>
                            <div class="test1">
                                <span class="badge badge-pill tagHtml">Html5</span>
                                <span class="badge badge-pill tagCss">Css3</span>
                                <span class="badge badge-pill tagJS">JavaScript</span>
                                <span class="badge badge-pill tagJava">Java</span>
                                <span class="badge badge-pill tagReact">ReactJS</span>
                                <span class="badge badge-pill tagBootstrap">Bootstrap</span>
                                <span class="badge badge-pill tagNode">NodeJS</span>
                            </div>
                        </div>
        
                        <hr>
                        
                        <div class="container">
                            <p class="h4"><span class="logoSW">f</span> Hobbies <span class="logoSW">f</span><p>
                            <ul class="listPerso">
                                <li>Apéro - </li>
                                <li>Badminton - </li>
                                <li>Cinéma - </li>
                                <li>Promenade en forêt - </li>
                                <li>Jeux vidéos</li>
                            </ul>
                        </div>
                    
                        <hr>
        
                        <div class="container">
                            <p class="h4"><span class="logoSW">D</span> Experiences <span class="logoSW">D</span><p>    
                            <p>Amazon France - Développeur Java 07/2017 - 05/2018<br>
                                Google France - Développeur Back End PHP 02/2016 - 05/2017<br>
                                Crédit Agricole Lyon - Développeur Javascript 11/2015 - 01/2016</p>
                        </div>
                    </div>
                    
                    <div class="modal-footer">
                            <button type="button" class="btn btn-secondary close" data-dismiss="modal">Close <span class="logoSWbutton">_</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!-- MODALE MATTHIEU    -->
    
    <div class="container">
        <div class="modal fade" id="matthieu" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered blabla no-gutters" role="document">
                <div class="modal-content">
        
                    <div class="container modal-header">
                    <p class="h3 modal-title text-center exampleModalCenterTitle">Mathieu Miquel</p>
                    </div>
                    <hr>
                    <div class="modal-body">
                        <div class="container">
                            <p class="h4"><span class="logoSW">z</span> Profile <span class="logoSW">z</span><p>
                            <a href="https://fr.linkedin.com/in/miquelmathieu/" target="_blank"><i class="fa fa-linkedin-square linkedin fa-3x"></i></a>
                            <a href="https://github.com/Mathieuwcs" target="_blank"> <i class="fa fa-github github fa-3x"></i></a>
                            <a href="https://twitter.com/Mathieuwcs" target="_blank"><i class="fa fa-twitter twitter fa-3x"></i></a>
                            <p class="h5 text">Développeur Front End Web et Mobile - Certifié RNCP</p>
                            <div class="test1">
                                <span class="badge badge-pill tagHtml">Html5</span>
                                <span class="badge badge-pill tagCss">Css3</span>
                                <span class="badge badge-pill tagJS">JavaScript</span>
                                <span class="badge badge-pill tagReact">ReactJS</span>
                                <span class="badge badge-pill tagBootstrap">Bootstrap</span>
                                <span class="badge badge-pill tagNode">NodeJS</span>
                            </div>
                        </div>
        
                        <hr>
                        
                        <div class="container">
                            <p class="h4"><span class="logoSW">f</span> Hobbies <span class="logoSW">f</span><p>
                            <ul class="listPerso">
                                <li>Théatre d'improvisation (comédien amateur depuis 2016) - </li>
                                <li>Running (marathon) - </li>
                                <li>Voyage</li>
                            </ul>
                        </div>
                    
                        <hr>
        
                        <div class="container">
                            <p class="h4"><span class="logoSW">D</span> Experiences <span class="logoSW">D</span><p>    
                            <p>Total- commercial sedentaire B TO B gaz electricité- 2017-2018<br>
                               Disprodal- devellopeur commercial B TO B- 2016 <br>
                               Eiffage- Négociateur Fibre optique sedentaire- 2015-2016<br>
                               AXA- Chargé de clientèle- Epargne et protection B to B- 2013-2014</p>
                        </div>
                    </div>
                    
                    <div class="modal-footer">
                            <button type="button" class="btn btn-secondary close" data-dismiss="modal">Close <span class="logoSWbutton">_</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- MODALE FRANCK    -->
    
    <div class="container">
        <div class="modal fade" id="franck" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered blabla no-gutters" role="document">
                <div class="modal-content">
        
                    <div class="container modal-header">
                    <p class="h3 modal-title text-center exampleModalCenterTitle">Franck Martinez</p>
                    </div>
                    <hr>
                    <div class="modal-body">
                        <div class="container">
                            <p class="h4"><span class="logoSW">z</span> Profile <span class="logoSW">z</span><p>
                            <a href="https://www.linkedin.com/in/franck-martinez-884491149/" target="_blank"><i class="fa fa-linkedin-square linkedin fa-3x"></i></a>
                            <a href="https://github.com/Pacokris" target="_blank"> <i class="fa fa-github github fa-3x"></i></a>
                            <a href="https://twitter.com/Martine65204077" target="_blank"><i class="fa fa-twitter twitter fa-3x"></i></a>
                            <p class="h5 text">Développeur Front End Web et Mobile - Certifié RNCP</p>
                            <div class="test1">
                                <span class="badge badge-pill tagHtml">Html5</span>
                                <span class="badge badge-pill tagCss">Css3</span>
                                <span class="badge badge-pill tagJS">JavaScript</span>
                                <span class="badge badge-pill tagJava">Java</span>
                                <span class="badge badge-pill tagBootstrap">Bootstrap</span>
                                <span class="badge badge-pill tagHtml">AngularJS</span>
                            </div>
                        </div>
        
                        <hr>
                        
                        <div class="container">
                            <p class="h4"><span class="logoSW">f</span> Hobbies <span class="logoSW">f</span><p>
                            <ul class="listPerso">
                                <li>Sport - </li>
                                <li>Informatique - </li>
                                <li>Séries Télévision - </li>
                                <li>Films - </li>
                                <li>Jeux vidéos</li>
                            </ul>
                        </div>
                    
                        <hr>
        
                        <div class="container">
                            <p class="h4"><span class="logoSW">D</span> Experiences <span class="logoSW">D</span><p>    
                            <p> Wild Code School Lyon - Formation développeur Front-End 09/2018 - 02/2019<br>
                                Brink's Security Services - Chef d'équipe - 2011 - 2018 <br>
                                Securitas Security Services - Plannificateur - 2009 - 2011<br>
                                Securitas Security Services - Agent de sûreté - 2001 - 2009</p>
                        </div>
                    </div>
                    
                    <div class="modal-footer">
                            <button type="button" class="btn btn-secondary close" data-dismiss="modal">Close <span class="logoSWbutton">_</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***********************************  FIN MODALES  *************************************************** -->



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="/assets/js/groupe6/script.js"></script>
</body>
</html>