<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,		initial-scale=1, shrink-to-fit=no">
    <title>Groupe 6x7 - Projet "Portfolio professionnel"</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/groupe7/style.css">



    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">

</head>

<body>
<div class="container-fluid" style="padding:0px;">
    {% include "Article/navbar.html.twig" %}
</div>


    <div class="accueil">
        <div class="row profilCardContainer ">
          <div class="col-12 blocLogoTitle">
              <h2>Work attractive and creative</h2>
          </div>

            <div class="col-sm-4 col-md-6 col-lg-4 col-xl-4 random blocCardPro">
                  <a href="/assets/page/groupe7/ProfilPage_Lisa.html">
                      <div class="card blocprofil">

                            <div class="Bg-imglisa"> </div>
                            <nomprofil>Lisa</nomprofil>
                    </div>
                    </a>
            </div>


            <div class="col-sm-4 col-md-6 col-lg-4 col-xl-4 random blocCardPro">
              <a href="/assets/page/groupe7/ProfilPage_Aymeric.html">
                <div class="card blocprofil ">
                        <div class="Bg-imgaymeric"> </div>
                        <nomprofil>Aymeric</nomprofil>
              </div>
            </a>
            </div>


            <div class="col-sm-4 col-md-6 col-lg-4 col-xl-4 random blocCardPro">
              <a href="/assets/page/groupe7/ProfilPage_Celine.html">
                <div class="card blocprofil ">
                        <div class="Bg-imgceline"> </div>
                        <nomprofil>Céline</nomprofil>
                </div>
              </a>
            </div>


            <div class="col-sm-4 col-md-6 col-lg-4 col-xl-4 random blocCardPro">
              <a href="/assets/page/groupe7/ProfilPage_Paul.html">
                <div class="card blocprofil">
                        <div class="Bg-imgpaul"> </div>
                        <nomprofil>Paul</nomprofil>
              </a>
                </div>
            </div>


            <div class="col-sm-4 col-md-6 col-lg-4 col-xl-4 random blocCardPro">
              <a href="/assets/page/groupe7/ProfilPage_Kapucine.html">
                 <div class="card blocprofil">
                         <div class="Bg-imgkapucine"> </div>
                         <nomprofil>Kapucine</nomprofil>
                 </div>
              </a>
            </div>


            <div class="col-sm-4 col-md-6 col-lg-4 col-xl-4 random blocCardPro">
              <a href="/assets/page/groupe7/ProfilPage_Ioannis.html">
                <div class="card blocprofil">
                        <div class="Bg-imgioannis"> </div>
                        <nomprofil>Ioannis</nomprofil>
                </div>
              </a>
            </div>

            <div class="col-12">
                      <h3>A funny and skilled Web Developpers team who can make your dreams come true. Are you ready to play
                        with us ?</h3>
            </div>
      </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo "
        crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js " integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49 "
        crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js " integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy "
        crossorigin="anonymous "></script>
    <script type="text/javascript" src="/assets/js/groupe7/main.js"></script>
</body>

</html>
