
    <ul class="nav flex-column sidebar">
        <li class="nav-item">
            <a href="/admin/dashboard" class="nav-link {{ active == "home" ? "active" }}">Home</a>
        </li>
        <li class="nav-item">
            <a href="/admin/articles" class="nav-link {{ active == "articles" ? "active" }}">Articles</a>
        </li>
        <li class="nav-item">
            <a href="/admin/createArticle" class="nav-link {{ active == "add" ? "active" }}">Créer un article</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">Déconnexion</a>
        </li>
    </ul>


