{% extends "admin_layout.html.twig" %}

{% block content %}

    <h1 class="text-white titlePageAdmin">Créer un article</h1>
    {% include 'Admin/AdminArticle/_form.html.twig' %}

{% endblock %}




