<form method="post">
    <input type="hidden" value="{{ article.id }}" name="id">
    <h2> Titre </h2>
    <input type="text" value="{{ article.titre }}" name="title">
    <h2> Contenu </h2>
    <input type="textaera" value="{{ article.article }}" name="article">
    <input type="submit" value="Valider">
</form>
