html {
    height: 100%;
    width: 100%;
}
body {
    min-height: 100%;
    margin: 0;
    padding: 70px 0 90px 0;
    position:relative;
    background: linear-gradient(to top, #757575, #757575);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Dosis','Roboto', sans-serif;
}

h1{
    text-align: center;

}
.navbar-nav{
    font-size: 20px;

}
.navbar{
    background-color: #ffcc80;
    color: white;
}

.navv1:hover{
    background: #ffb480;
    border-radius: 10px;
}

.front_body{
    background: radial-gradient(ellipse at center, #dae6f2 0%,#b8bac1 77%,#808487 100%);
    background-attachment: fixed;
}

/* caroussel haut */

.carouselhaut{
    height: 300px;
}

/*--------------------------------------------Title Portfolio---------------------------------------------------------*/
.rowhaut{
    height: 50px;
}

.btn_portfolio_haut{
    border-bottom: 2px solid black;
    height: 50px;
    margin-bottom: 100px;
    font-family: 'Dosis','Krub', sans-serif;
    font-weight: lighter;
    text-align: end;

}

.btn-logadmin{
    background: #ffcc80;
    margin-top: 10px;
}

/*---------------------------------------------Title Actualites-------------------------------------------------------*/
.btn-portfolio_bas{
    border-bottom: 2px solid black;
    font-family: 'Dosis','Krub', sans-serif;
    height: 50px;
    font-weight: lighter;
    margin-bottom: 100px;
    width: 350px;
}

.rowcentre{
    height: 200px;
}

.user_tr{
    height: 150px;
    vertical-align: center;
}


/*color for article date*/
.articleDate{
    color: lightslategray;
}

/*modify title article size font-color */
.articleTitre{
    color: black;
    font-size: 2em;
    text-align: center;
}

/*margin above articles*/
.article {
    margin-top: 20px;
    min-height: 400px;
}

/*image in article responsive*/
.imgArticle{
    max-width: 50%;
}

/*background color connexion admin*/
.bgAdminConnexion{
    background-color: #50E3C2;
    margin-top: -80px;
}

/* border around picture in admin log*/
.rounded-circle{
    border: 2px solid #50E3C2;
}

/* color bottun cards*/
.lasuite {
    background-color: #50E3C2;
    border: 0;
}
/*------------------------------------------------Footer--------------------------------------------------------------*/
footer {
    background: #ffcc80;
    font-family: 'Dosis',sans-serif;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.footer-icons {
    text-align: center;
    font-size: 20px;
    width: 100%;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 0;

}
.footer-bottom {
    text-align: center;
    color: white;
    width: 100%;
    align-items: center;
    padding-bottom: 12px;
    text-decoration: none;

}
.footer-bottom-wrapper{
    padding-bottom: 1px;
}

.fa-facebook{
    color:white;
    font-size: 30px;
    text-align: left;
    padding: 0.2em;
}
.fa-facebook:hover {
    background: #ffb480;
    border-radius: 20px;
}

.fa-instagram{
    color: white;
    font-size: 30px;
    text-align: left;
    padding: 0.2em;
}
.fa-instagram:hover {
    background: #ffb480;
    border-radius: 20px;
}
.fa-linkedin{
    color: white;
    font-size: 30px;
    text-align: left;
    padding: 0.2em;
}
.fa-linkedin:hover {
    background: #ffb480;
    border-radius: 20px;
}

.fa-twitter{
    color: white;
    font-size: 30px;
    text-align: left;
    padding: 0.2em;
}
.fa-twitter:hover {
    background: #ffb480;
    border-radius: 20px;
}
.fa-youtube{
    color: white;
    font-size: 30px;
    padding: 0.2em;
    text-align: left;
}
.fa-youtube:hover {
    background: #ffb480;
    border-radius: 20px;
}
.fa-copyright{
    color: white;
    font-size: 15px;
}

.wild {
    color:white;
    padding: 1em;
}

/*--------------------------------------------------End Footer--------------------------------------------------------*/

/* -------------------- */
/* ----SignUp page----- */
/* -------------------- */


/*title register form*/
.titre {
    font-size: 3em;
    text-align: center;
    color: #fff;
    font-weight: 100;
    letter-spacing: 4px;
    font-family: 'Dosis','Roboto', sans-serif;
}

/*-- main --*/
.main-w3layouts {
}

.main-agileinfo {
    width: 35%;
    margin: 1px auto;
    background: rgba(0, 0, 0, 0.28);
}

.agileits-top {
    padding: 3em;
}

.inputStyle input[type="text"], input[type="email"], input[type="password"] {
    font-size: 0.9em;
    color: #fff;
    font-weight: 100;
    width: 100%;
    display: block;
    border: none;
    padding: 0.7em;
    border: solid 1px lightgrey;
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #fff 4%);
    background-position: -800px 0;
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Dosis','Roboto', sans-serif;
    margin: 1em 0;
}

.text:focus, .text:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
}

::-webkit-input-placeholder {
    color: #fff;
    font-weight: 100;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
}

:-ms-input-placeholder {
    color: #fff;
}

input[type="submit"] {
    font-size: .9em;
    color: #fff;
    background: #50E3C2;
    outline: none;
    border: 1px solid #50E3C2;
    cursor: pointer;
    padding: 0.9em;
    -webkit-appearance: none;
    width: 100%;
    margin: 2em 0;
    letter-spacing: 4px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

input[type="submit"]:hover {
    transition: .5s all;
    background: #26A69A;
}
.etc-login-form {
    color: white;
}
span {
    color: red;
}


/* ----------------------- */
/* ----loginUser page----- */
/* ----------------------- */

.panel h2{
    color:white;
    font-size:18px;
    margin:0 0 8px 0;
}
.panel p {
    color:white;
    font-size:14px;
    margin-bottom:30px;
    line-height:24px;
}

.login-form .form-control {
    border: 1px solid #d4d4d4;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
}
.main-div {
    background: rgba(0, 0, 0, 0.28);
    margin: 100px auto 30px;
    max-width: 50%;
    padding: 50px 70px 70px 71px;
}

.login-form .form-group {
    margin-bottom:10px;
}
.login-form{ text-align:center;}
.forgot a {
    color: white;
    font-size: 14px;
    text-decoration: underline;
}
.login-form  .btn.btn-primary {
    background: #50E3C2 none repeat scroll 0 0;
    border-color: #50E3C2;
    color: #ffffff;
    font-size: 15px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0;
}
.forgot {
    text-align: left; margin-bottom:30px;
}
.botto-text {
    color: #ffffff;
    font-size: 14px;
    margin: auto;
    font-size: 3em;
    text-align: center;
    color: white;
    font-weight: 100;
    letter-spacing: 4px;
    font-family: 'Dosis','Roboto', sans-serif;
}
.login-form .btn.btn-primary.reset {
    background: #26A69A none repeat scroll 0 0;
    color: #ffffff;
}
.back {
    text-align: left; margin-top:10px;
}
.btnhover[type="submit"] {
    font-size: .9em;
    color: #fff;
    background: #50E3C2;
    outline: none;
    border: 1px solid #50E3C2;
    cursor: pointer;
    padding: 0.9em;
    -webkit-appearance: none;
    width: 100%;
    margin: 2em 0;
    letter-spacing: 4px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}


.btnhover:hover {
    transition: .5s all;
    background: #26A69A;
}


/* ---------------------------------------------Index Articles------------------------------------------------------- */
.link {
    color: #4A4A4A;
}

.link:hover {
    text-decoration: none;
    color: black;
}

.articleTitre {
    text-align: left;
    color: black;
    font-family: 'Dosis', sans-serif;
}

/*Espace entre cards*/
.row.featurette {
    height: 420px;
}


.portfoliosImg {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 2px 2px 20px grey;
    margin-bottom: 30px;
}

.portfoliosImg:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
}

.categories {
    position: fixed;
    font-family: 'Dosis', 'Roboto',sans-serif;
    font-weight: 100;
    list-style:none;
    padding-left: 0;
}

.menuCategories {
    color: #4A4A4A;
    font-size: 1.4rem;
}

.menuCategories:hover {
    color: black;
    text-decoration: none;
}

.test {
    background-color: #ffcc80;
}

.titleActualite {
    margin-top: 40px;
}

/*----------------------------------------------End Index Articles----------------------------------------------------*/
.front_body{
    background: radial-gradient(ellipse at center, #DAE6F2 0%,#b8bac1 77%,#808487 100%);
    background-attachment: fixed;
}

img.featurette-image {
    max-height: 400px;
}

h1.titleActualite {
    margin-bottom: 10rem;
    border-bottom: 1px black solid;
    color: #4A4A4A;
}

.btn-warning {
    background-color: #ffcc80;
    border: 0;
}

.navAdmin {
    background-color: #50E3C2;
    color: #424242;
}

.btnn{
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 8px;
}

/*---------------------------ONE ARTICLE--------------------------------------------------*/
.imageOneArticle{
    width: 100%;
    height: 100%;
}

/* ----------------------- */
/* ----Session flash------ */
/* ----------------------- */

/*---alert admin---*/
#sessionAdmin {
    margin-top: 50px;
}
#alert{
    display: none;
    z-index: 125;
}

/*---alert user---*/
#alert1{
    display: none;
    z-index: 125;
}

/* ------------------------------- */
/* ----Barre d'acceuil Admin------ */
/* ------------------------------- */
#alertinfo {
    margin-top: 100px;
}

/* ----------------------- */
/* ----Media Queries------ */
/* ----------------------- */
@media screen and (min-width: 1215px){
    .dropdown-toggle1 {
        display: none;
    }
}
@media screen and (max-width: 1215px){
    .categories {
        display: none;
    }
}
@media screen and (max-width: 1259px) {
    /* ----SignUp page-------- */
    .main-agileinfo {
        width: 55%;
    }
}
@media screen and (max-width: 1024px){
    .categories {
        width: 940px;
    }
}
@media screen and (max-width: 768px){
    .categories {
        width: 880px;
    }
}
@media screen and (max-width: 780px) {
    /* ----SignUp page-------- */
    .main-agileinfo {
        width: 75%;
    }
    .titre {
        padding: 1rem 1rem;
    }

    /* ----LoginUser-------- */
    .main-div {
        max-width: 70%;
    }

    .bgAdminConnexion {
        margin-top: -80px;
        font-size: 30px;
    }

    .btn-portfolio_bas {
        margin-left: 120px;
        width: 200px;
    }
}

@media screen and (max-width: 622px) {
    /* ----LoginUser-------- */
    .main-div {
        max-width: 100%;
    }
    /* ----SignUp page-------- */
    .titre {
        font-size: 2em;
    }
}

@media screen and (max-width: 575px) {
    /* ----SignUp page-------- */
    .main-agileinfo {
        width: 95%;
    }
    .cardArticle {
        margin-left: 30px;
    }
    .titlePortfolio {
        padding-left: 50px;
    }
    .rowhaut {
        display: none;
    }
    .btn_portfolio_haut {
        width: 200px;
        margin-left: -70px;
    }
    .btn-portfolio_bas {
        margin-left: 120px;
        width: 200px;
    }
    .article {
        margin-top: 0;
        min-height: 0;
    }
    .articleTitre {
        text-align: center;
    }
    .row.featurette {
        height: 600px;
        margin-left: 50%;
    }
    .articleTitre {
        text-align: left;
        font-size: 1.3rem;
    }
    .lead {
        font-size: 1rem;
    }
    .featurette-image {
        width: 250px;
        height: 250px;
    }
}

@media screen and (max-width: 425px) {
    .categories {
        width: 0;
    }
    .categories {
        width: 980px;
    }
}

@media screen and (max-width: 400px) {
    /* ----SignUp page-------- */
    .main-agileinfo {
        width: 100%;
    }
    /* ----SignUp page-------- */
    .titre {
        font-size: 1.4em;
    }
    .categories {
        width: 0;

    }
}

/*-----------------------------------------------End Media Queries----------------------------------------------------*/



/*CSS admin article*/
.fontWhite{
    color: white;
}

/*show article & log to comment page*/
.cardFond{
    background-color: transparent !important;
}

.commentFond{
    background-color: #b8bac1;
}

.btnFond{
    background-color: #50E3C2;
}

.navbar-brand {
    padding-left: 20px;
}

/*-----------------------------------------------Admin----------------------------------------------------------------*/

/*------cards with 3 last items---------*/

.dropdown-item {
    background: #defff4;
}

.cardFondDashboard{
    background: rgba(0, 0, 0, 0.2);
    color: lightgrey;
    min-height: 12rem;
    margin-bottom: 2%;
}

.dashboardCount{
    font-size: 2.5rem;
    text-align: center;
}

/*-------cards to create article (and user)------- */
.cardFondCreate{
    background: rgba(0, 0, 0, 0.1);
    color: lightgrey;
    min-height: 12rem;
    margin-bottom: 2%;
}

.titlePageAdmin {
    margin-top: 50px;
    margin-bottom: 50px;
}

.btnSupp {
    margin-top: 20px;
    margin-bottom: 50px;
}

.cardUser {
    background-color: #808487;
    border-radius: 1.25rem;
}

.btnModify {
    margin-top: 50px;
    margin-bottom: 50px;
}

.addNewUser {

    margin-bottom: 10px;
}


