
<footer class="myFooter footer shadow" >

    <div class="footer-icons">

        <a href="https://www.linkedin.com/school/10387519/?pathWildcard=10387519"  target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="https://www.facebook.com/wildcodeschool"  target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com/wildcodeschool"  target="_blank"><i class="fa fa-twitter "></i></a>
        <a href="https://www.instagram.com/wildcodeschool/" target="_blank"><i class="fa fa-instagram"></i></a>
        <a href="https://www.youtube.com/channel/UCi99G_0QPx5sYsK8zdvQzfw" target="_blank"><i class="fa fa-youtube"></i></a>

    </div>
    <section class="footer-bottom">
        <div class="footer-bottom-wrapper">
            <i class="fa fa-copyright"></i>
            <a href="" class="navv1" style="color:white">
                <strong> 2018  Wild Blog  </strong>
            </a>

            <i class="wild"></i>
            <i class="fa fa-copyright"></i>
            <a href="https://wildcodeschool.fr/" class="navv1 "style="color:white" target="_blank" >
                <strong> WildCodeSchool </strong>
            </a>
        </div>
    </section>
</footer>
