<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/#portosfolios">Portfolios</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto mr-5">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="groupe1" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    A-D
                </a>
                <div class="dropdown-menu" aria-labelledby="groupe1">
                    <a class="dropdown-item" href="/Portfolios/groupe1/">Groupe A-B</a>
                    <a class="dropdown-item" href="/Portfolios/groupe2/">Groupe B-C</a>
                    <a class="dropdown-item" href="/Portfolios/groupe3/">Groupe C-D</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="groupe2" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    E-M
                </a>
                <div class="dropdown-menu" aria-labelledby="groupe2">
                    <a class="dropdown-item" href="/Portfolios/groupe4/">Groupe E-G</a>
                    <a class="dropdown-item" href="/Portfolios/groupe5/">Groupe G-K</a>
                    <a class="dropdown-item" href="/Portfolios/groupe6/">Groupe K-M</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="groupe3" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    M-Y
                </a>
                <div class="dropdown-menu" aria-labelledby="groupe3">
                    <a class="dropdown-item" href="/Portfolios/groupe7/">Groupe M-N</a>
                    <a class="dropdown-item" href="/Portfolios/groupe8/">Groupe P-R</a>
                    <a class="dropdown-item" href="/Portfolios/groupe9/">Groupe S-Y</a>
                </div>
            </li>
        </ul>
    </div>
</nav>