<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/groupe8/stylesheet.css">


    <title>Done nuts</title>
</head>

<body>

<div class="container-fluid" style="padding:0px;">
    {% include "Article/navbar.html.twig" %}
</div>

    <header class="menusIntegral container-fluid">
        <div class="d-none d-md-block container-fluid">

            <div class="headerMenus">
                <!-- line 1 grid-menus-anaelle-kevin-->
                <div class="row justify-content-center">
                    <div class="anaelleMenus"><a href="/assets/page/groupe8/persoanaele.html"><img class="anaelleHeader" src="/assets/images/groupe8/anaelle1.png"
                                alt=""></a></div>
                    <div class="kevinMenus"><a href="/assets/page/groupe8/persokevin.html"><img class="kevinHeader" src="/assets/images/groupe8/kevin.png"
                                alt=""></a></div>
                </div>
                <!-- line 2 grid-menus-elliot-morgan-->
                <div class="row justify-content-center">
                    <div class="elliotMenus"><a href="/assets/page/groupe8/persoeliott.html"><img class="elliotHeader"
                                src="/assets/images/groupe8/elliot.png" alt=""></a></div>
                    <div class="morganMenus"><a href="/assets/page/groupe8/persomorgan.html"><img class="morganHeader"
                                src="/assets/images/groupe8/morgan.png" alt=""></a></div>
                </div>
                <!-- line 3 grid-menus-logo-ysatis-florent -->
                <div class="row justify-content-center">
                    <div class="ysatisMenus"><a href="/assets/page/groupe8/persoysatis.html"><img class="ysatisHeader"
                                src="/assets/images/groupe8/ysatis.png" alt=""></a></div>
                    <div class="florentMenus"><a href="/assets/page/groupe8/persoflorent.html"><img class="florentHeader"
                                src="/assets/images/groupe8/florent.png" alt=""></a></div>
                </div>
                <!-- line 4 grid-menus-logo -->
                <div class="row justify-content-center">
                    <div class="logoMenus"><a href="https://wildcodeschool.fr/lyon"><img class="logoHeader" src="/assets/images/groupe8/wild.png"
                                alt=""></a></div>
                </div>
            </div><!-- end div menus -->
        </div><!-- end div container fluid -->
    </header>
    <!----------- NAVBAR accueil mobile ----------->
        <nav class="navbar d-block d-md-none navbar-default navbar-dark bg-dark">

            <button class="navbar-toggler" type="button" data-toggle="dropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/Portfolios/groupe8/">WILD FOLIO</a>

            <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton">

                 <a class="dropdown-item border-bottom border-top" href="/Portfolios/groupe8/"><img class="rounded-circle navImg mr-3" src="/assets/images/groupe8/icon/house.svg" alt="Generic placeholder image"><span class="couleurwild">ACCUEIL</span></a>

                <a class="dropdown-item border-bottom" href="./persoanaele.html"><img class="rounded-circle navImg mr-3" src="/assets/images/groupe8/anaele-rond.png" alt="Generic placeholder image"><span class="couleurwild">Salvatore Anaële</span>
                <div class="media-body">
                <h5 class="mt-0 mb-1"></h5>
                </div></a>

                <a class="dropdown-item border-bottom" href="./persoysatis.html"><img class="rounded-circle navImg mr-3" src="/assets/images/groupe8/ysatis-rond.png" alt="Generic placeholder image"><span class="couleurwild">Place Ysatis</span></a>
                <a class="dropdown-item border-bottom" href="./persomorgan.html"><img class="rounded-circle navImg mr-3" src="/assets/images/groupe8/morgan-rond.png" alt="Generic placeholder image"><span class="couleurwild">Parhirin Morgan</span></a>
                <a class="dropdown-item border-bottom" href="./persoeliott.html"><img class="rounded-circle navImg mr-3" src="/assets/images/groupe8/eliott-rond.png" alt="Generic placeholder image"><span class="couleurwild">Raillere Eliott</span></a>
                <a class="dropdown-item border-bottom" href="./persoflorent.html"><img class="rounded-circle navImg mr-3" src="/assets/images/groupe8/florent-rond.png" alt="Generic placeholder image"><span class="couleurwild">Perticoz Florent</span></a>
                <a class="dropdown-item" href="./persokevin.html"><img class="rounded-circle navImg mr-3" src="/assets/images/groupe8/kevin-rond.png" alt="Generic placeholder image"><span class="couleurwild">Radlowski Kevin</span></a>
              </div>
            </nav>

    <!-- 1ère partie avec la présentation (titre + paragraphe)-->

    <section>
        <h2>Présentation du projet</h2>
        <p class="presentation">Voici le portfolio du groupe 8 de la Wild Code School de Lyon ! Nous voulions aboutir à
            quelque chose de relativement ambitieux (modulo nos compétences de débutants bien sûr !). Pour voir le
            résultat de ce travail de 3 semaines, il s’agira de scroller, cliquer, passer la souris au-dessus des
            élements… Et ceci, sur les différents supports/résolutions possibles !</p>
    </section>
    <!-- 2ème partie avec galerie photos (modaux)-->

 <section class="galllery-wip">
     <!----WORK IN PROGRESS------>
     <!---Disposition images--->

     <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 300 }'>
         <div class="grid-item">
             <img src="/assets/images/groupe8/photos-wip/wip6.jpg" alt="">
         </div>
         <div class="grid-item">
             <img src="/assets/images/groupe8/photos-wip/img1.jpg" alt="">
         </div>
         <div class="grid-item">
             <img src="/assets/images/groupe8/photos-wip/wip1.jpg" alt="">
         </div>
         <div class="grid-item">
             <img src="/assets/images/groupe8/photos-wip/wip2.jpg" alt="">
         </div>
         <div class="grid-item">
             <img src="/assets/images/groupe8/photos-wip/wip3.jpg" alt="">
         </div>
         <div class="grid-item">
             <img src="/assets/images/groupe8/photos-wip/wip4.jpg" alt="">
         </div>
         <div class="grid-item">
             <img src="/assets/images/groupe8/photos-wip/wip5.jpg" alt="">
         </div>
     </div>

 </section>

 <!-- Footer-->
 <footer>

</footer>



    <!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="/assets/js/groupe8/script.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="/assets/js/groupe8/script.js"></script>
</body>

</html>
