
{#create a form to add a comment#}
<div class="container">
    <div class="card article">
        <div class="card-body">
            <form method="post">
                <div class="form-group">
                    <label for="content">Votre commentaire</label>
                    <textarea class="form-control" id="content" name="content" rows="6"></textarea>
                </div>
                <button type="submit" class="btn btnFond"><strong>Envoyer</strong></button>
            </form>
        </div>
    </div>
</div>
